  * {
      margin: 0;
      padding: 0;
  }

  body {
    padding: 5rem;
      background-color: #000000
  }

  li {
    margin-left: 30px;
  }


  img {
      height: 250px;
      width: 250px;
      justify-content: center;
      border-radius: 50%;
  }

  .text {
      color: aquamarine;
  }

  .title {
      color: rgb(53, 243, 27);
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;

  }

  .paragraph {
      color: rgb(255, 255, 255);
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
  }

  .red {
      color: rgb(255, 0, 0);
  }

  .blue {
      color: blue;
  }

  .image-aligner {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center
  }

  .title-center {
      color: rgb(0, 140, 255);
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
